.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  overflow: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.picture-container {
  display: flex;
  justify-content: center;
  width: 50%;
}

.picture {
  width: 90%;
}

.about-picture {
  max-width: 100%;
  max-height: auto;
  object-fit: contain;
}

.paragraphs-container {
  width: 50%;
}

.paragraphs {
  margin-top: 20px;
}

.paragraph {
  margin: 20px 20px 1em;
  word-wrap: break-word;
  flex: 1;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .about-container {
    margin-top: 40px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .picture-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .picture {
    width: 80%;
    margin-top: 0px;
  }
  .paragraphs-container {
    width: 80%;
  }
  .paragraph {
    margin: 0px 0px 1em;
    word-wrap: break-word;
    flex: 1;
    font-size: 12px;
  }
}
